<p style="color: green"><%= notice %></p>

<%= render @session_category %>

<div>
  <%= link_to "Edit this session category", edit_session_category_path(@session_category) %> |
  <%= link_to "Back to session categories", session_categories_path %>

  <%= button_to "Destroy this session category", @session_category, method: :delete %>
</div>
