<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= game.type %>
  </p>

  <p>
    <strong>Gameplay length:</strong>
    <%= game.gameplay_length %>
  </p>

  <p>
    <strong>Player number:</strong>
    <%= game.player_number %>
  </p>

  <p>
    <strong>Complexity:</strong>
    <%= game.complexity %>
  </p>

</div>
