<%= form_with(model: session_score) do |form| %>
  <% if session_score.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(session_score.errors.count, "error") %> prohibited this session_score from being saved:</h2>

      <ul>
        <% session_score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
